/** variables **/
$xsmall: 360px
$small: 600px
$medium: 1024px
$large: 1440px    

/** global configuration for sizing **/
*
    box-sizing: border-box
    padding: 0
    margin: 0
    overflow-y: scroll
    scrollbar-width: none
    -ms-overflow-style: none
    font-family: Arial, Helvetica, sans-serif

body
    display: flex
    align-items: : center
    position: relative
    overflow-y: scroll
    scrollbar-width: none
    -ms-overflow-style: none
 
/** global configuration for lists **/
ul
    list-style: none
    li
        display:block

/** functions a.k.a. minxins **/
@mixin media($med)
    @if $med == xs 
        @media (max-width: $xsmall)
            @content
    @else if $med == sm 
        @media (min-width: $xsmall) and (max-width: $small)
            @content
    @else if $med == md
        @media (min-width: $small) and (max-width: $medium)
            @content
    @else if $med == lg
        @media (min-width: $medium)
            @content

$tech-size: 100px

div

    /** div with the class container **/
    &.container
        width: 900px
        margin: 0 auto
        padding: 5px 15px
        position: relative
        display: flex
        
        
    &.card
        width: 300px
        padding: 10px
        margin: 10px
        box-shadow: 5px 10px
        div 
            &.card-img
                height: 250px

                img
                    object-fit: cover

            &.card-content
                padding: 10px
                display: flex
                flex-direction: column

                div
                    &.project
                        margin-bottom: 20px
                    &.techs
                        display: flex
                        flex-direction: column
                
                    div
                        &.tech
                            display: flex
                            font-weight: 100
                            div
                                &.tech-img
                                    height: $tech-size
                                    width: $tech-size
                                    object-fit: cover
                                    margin-right: 10px
                                    border-radius: 50px
                                    border-shadow: 5px 10px
                                   
                                    img
                                        height: $tech-size
                                        width: $tech-size
                                    
                                    
                                        