/** variables **/
/** global configuration for sizing **/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/** global configuration for lists **/
ul {
  list-style: none;
}

/** functions a.k.a. minxins **/
div {
  /** div with the class container **/
}

div.container {
  width: 900px;
  margin: 0 auto;
  padding: 5px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.card {
  width: 300px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
}

div.card div.card-img {
  height: 250px;
}

div.card div.card-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

div.card div.card-content {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.card div.card-content div.project {
  margin-bottom: 20px;
}

div.card div.card-content div.techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.card div.card-content div div.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
}

div.card div.card-content div div.tech div.tech-img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 50px;
  border-shadow: 5px 10px;
}

div.card div.card-content div div.tech div.tech-img img {
  height: 100px;
  width: 100px;
}
/*# sourceMappingURL=main.css.map */